.container {
  display: grid;
  grid-template-columns: 1% 9% 68% 9% 1%;
  grid-gap: 3%;
}

.headerFooter {
  grid-column-start: 3;
  grid-column-end: 5;
  display: grid;
  grid-template-columns: 22% 77%;
  grid-gap: 1%;
}

nav {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

aside {
  grid-column-start: 4;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.gridWrapper{
  grid-column-start: 3;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-gap: 2%;
}

.gridWrapperExtended{
  grid-column-start: 3;
  display: grid;
  grid-template-columns: 27% 72%;
  grid-gap: 1%;
}

.primary {
  grid-column-start: 1;
  padding: 0px 10px;
}

.secondary {
  grid-column-start: 2;
}

.gridSpan {
  grid-column-start: 1;
  grid-column-end: 2;
  height: 100px;
}

.flexboxContainer {
  display: inline-flex;
}