---
layout: layout.njk
---
<nav>
  <u>Navigation</u>
    <span class = "activePage"><a href = "/">JWST</a></span><br>
    <a href = "/page2">ISS (i)</a><br>
    <a href = "/page3">ISS (ii)</a><br>
    <a href = "/page4">SpaceX</a><br>
    <a href = "/page5">Starship (i)</a><br>
    <a href = "/page6">Starship (ii)</a><br>
    <a href = "/page7">Artemis (i)</a><br>
    <a href = "/page8">Artemis (ii)</a><br>
</nav>
<article>
  <div class = "gridWrapper">
    <section>
      <div class = "primary">
        <div class = "headerSpan"> 
          <h2>The James Webb Space Telescope</h2> 
        </div>
        <p>The James Webb Space Telescope (JWST) is NASA’s largest and most powerful space telescope.<br><br>
        The JWST <span class = "emphasis">orbits the Sun about 1 million miles from Earth.</span><br><br> 
        This location gives it a wide view of the cosmos, and will keep the telescope's optics and scientific instruments cold enough to perform optimal science.
        </p>
        <img id = "imageIndexSecondary" src = "images/carinaNebula.png" alt = "Telescopic Image of the Carina Nebula">
        <p>The JWST will build on the Hubble Space Telescope's discoveries and study <span class="emphasis">every phase in the history of our universe.</span><br><br> 
        This ranges from the first luminous glows after the big bang, to the formation of solar systems capable of supporting life on planets like Earth, to the evolution of our own solar system.<br><br>
        This includes images of the Carina Nebula (shown above) and the Small Magellanic Cloud (shown right).</p>
      </div>
    </section> 
    <section>
      <div class = "secondary">
        <img src = "images/smallMagCloud.png" alt = "Telescope Image of the Small Magellanic Cloud"> 
      </div>
    </section>
  </div>
</article>