---
layout: layout.njk
---
<nav>
  <u>Navigation</u>
    <a href = "/">JWST</a><br>
    <a href = "/page2">ISS (i)</a><br>
    <a href = "/page3">ISS (ii)</a><br>
    <span class = "activePage"><a href = "/page4">SpaceX</a></span><br>
    <a href = "/page5">Starship (i)</a><br>
    <a href = "/page6">Starship (ii)</a><br>
    <a href = "/page7">Artemis (i)</a><br>
    <a href = "/page8">Artemis (ii)</a><br>
</nav>
<article>
  <header>
    <h2>SpaceX</h2>
  </header>
    <div class = "gridWrapper">
      <section>
        <div class = "primary">
          <p>SpaceX is a private aerospace platform, which puts satellites into orbit, delivers cargo, and transports humans into space.<br><br>
          SpaceX is famous for developing <span class = "emphasis">reusable rockets and launch systems</span> to significantly reduce space flight costs.<br><br>
          Gwynne Shotwell serves as SpaceX President & Chief Operations Officer, with founder Elon Musk serving as Chief Technical Officer, Chairman & CEO</p>
        </div>
      </section> 
      <section>
        <div class = "secondary">
          <img src = "/images/spaceX1.jpg" alt = "Two SpaceX booster rockets landing following flight">
        </div>
      </section>
      <section>
        <div class = "primary">
          <img src = "/images/spaceX2.jpg" alt = "Two SpaceX booster rockets landing following flight">
        </div>
      </section> 
      <section>
        <div class = "secondary">
          <p>In 2002, founder Elon Musk traveled to Russia to <span class = "emphasis">buy a refurbished intercontinental ballistic missile.</span><br><br>
          Rather than start a business, Musk wanted to perform a stunt he hoped would reinvigorate interest in funding NASA and space exploration.<br><br> 
          The idea was to buy a Russian rocket on the cheap and use it to send plants or mice to Mars - and ideally bring them back, too.<br><br>
          But Musk's Moscow meeting didn't go well and he decided he could build rockets himself, calculating that he could undercut existing launch contractors in the process. SpaceX was founded just a few months later.</p>
        </div>
      </section>
      <section>
        <div class = "primary">
          <p>SpaceX's commercial rockets include the Falcon 9 & Falcon Heavy, along with <span class = "link"><a href = "/page5">Starship</a></span> (still in development).<br><br>
          SpaceX's business model has entailed launching satellites into orbit and delivering humans & cargo to the International Space Station.<br><br>
          An additional revenue stream currently in development is <span class = "link"><a href = "https://www.starlink.com/">StarLink</a></span>, which aims to use up to 42,000 satellites in low-Earth orbit to provide global high-speed internet access.</p>
        </div>
      </section> 
      <section>
        <div class = "secondary">
          <img src = "/images/spaceXRocketComparison.png" alt = "Comparison of SpaceX's three commercial rockets">
        </div>
      </section>
      <section>
      <div class = "primary">
        <img src = "/images/spaceX3.jpg" alt = "Sunset photograph with rockets sillhoetted">
      </div>
      </section> 
      <section>
      <div class = "secondary">
        <p>Since its inception, SpaceX's goal has been space exploration and to reach Mars.<br><br>
        In a significant step forwards, Nasa awarded SpaceX a $2.89bn contract to build a Human Landing System that will <span class = "link"><a href = "/page7">return humans to the Moon this decade.</a></span></p>
      </div>
      </section>
    </div>
</article>