---
layout: layout.njk
---
<nav>
  <u>Navigation</u>
    <a href = "/">JWST</a><br>
    <a href = "/page2">ISS (i)</a><br>
    <a href = "/page3">ISS (ii)</a><br>
    <a href = "/page4">SpaceX</a><br>
    <a href = "/page5">Starship (i)</a><br>
    <span class = "activePage"><a href = "/page6">Starship (ii)</a></span><br>
    <a href = "/page7">Artemis (i)</a><br>
    <a href = "/page8">Artemis (ii)</a><br>
</nav>
<article>
  <header>
    <h2>SpaceX: Starship Test Flights</h2>
  </header>
  <div class = "flexboxContainer">
    <div class = "flexGallary">
      <video controls width = "565">
          <source src = "/images/starshipExplosion.mp4" type = "video/mp4">
      </video>
      <iframe width = "565" height = "318" frameborder = "0" src = "https://www.bbc.com/news/av-embeds/55564448/vpid/p09gs3lm"></iframe>
    </div>
  </div>
</article>