---
layout: layout.njk
---
<nav>
  <u>Navigation</u>
    <a href = "/">JWST</a><br>
    <a href = "/page2">ISS (i)</a><br>
    <a href = "/page3">ISS (ii)</a><br>
    <a href = "/page4">SpaceX</a><br>
    <a href = "/page5">Starship (i)</a><br>
    <a href = "/page6">Starship (ii)</a><br>
    <span class = "activePage"><a href = "/page7">Artemis (i)</a></span><br>
    <a href = "/page8">Artemis (ii)</a><br>
</nav>
<article>
  <header>
    <h2>Artemis Program</h2>
  </header>
  <div class = "gridWrapper">
    <section>
      <div class = "primary">
        <p>The Artemis program is a robotic and human Moon exploration program.<br><br> 
        Artemis is led by NASA & partnered with the European, Canadian & Japanese space agencies.<br><br> 
        The program's long-term goal is to <span class = "emphasis">establish a permanent base camp on the Moon and facilitate human missions to Mars.</span></p>
      </div>
    </section> 
    <section>
      <div class = "secondary">
        <img src = "/images/artemisA.jpg" alt = "Artistic depiction of astronauts conducting experiments on the moon">
      </div>
    </section>
    <section>
      <div class = "primary">
        <img src = "/images/artemisB.png" alt = "Diagram of the Gateway lunar space station design">
      </div>
    </section> 
    <section>
      <div class = "secondary">
        <p>
        The major components of the program are the Space Launch System rocket, Orion spacecraft, Lunar Gateway space station and the Human Landing System.<br><br>
        Unlike the other program components, the Human Landing System is to be commercially developed by private industries<br><br>
        The contract was awarded to SpaceX in July 2021 for an initial $2.89bn, modified in Nov 2022 by an additional $1.15bn.<br><br>
        SpaceX intends to use a variant of their <span class = "link"><a href = "/page5">Starship spacecraft</a></span> for this purpose.</p>
      </div>
    </section>
    <section>
      <div class = "primary">
        <p>Artemis will establish a new space station, a suite of new lunar science instruments and technology demonstrations, and establish a long term lunar presence.<br><br> 
        The agency will leverage its Artemis experiences and technologies to prepare for the next giant leap – sending astronauts to Mars.<br><br>
        The Artemis program is subdivided into individual missions - <span class = "link"><a href = "/page8">read more here.</a></span></p>
      </div>
    </section> 
    <section>
      <div class = "secondary">
        <iframe width = "550" height = "309.38" src = "https://www.youtube.com/embed/e8JQXMjPOpQ" 
          title = "Highlights From the First 13 Days of NASA&#39;s Artemis I Moon Mission" frameborder = "0" allow = "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
        <br><br>
      </div>
    </section>
  </div>
</article>