---
layout: layout.njk
---
<nav>
  <u>Navigation</u> 
    <a href = "/">JWST</a><br>
    <span class = "activePage"><a href = "/page2">ISS (i)</a></span><br>
    <a href = "/page3">ISS (ii)</a><br>
    <a href = "/page4">SpaceX</a><br>
    <a href = "/page5">Starship (i)</a><br>
    <a href = "/page6">Starship (ii)</a><br>
    <a href = "/page7">Artemis (i)</a><br>
    <a href = "/page8">Artemis (ii)</a><br>
</nav>
<article>
  <header>
    <h2>The International Space Station</h2>
  </header>
  <div class = "gridWrapper">
    <section>
      <div class = "primary">
        <img src = "\images\iss.jpg" alt = "View of the ISS against a backdrop of the Earth">
      </div>
    </section>
    <section>
      <div class = "secondary">
        <p>The International Space Station (ISS) houses a crew of seven while orbiting Earth at a speed of <span class = "emphasis">five miles per second.</span><br><br>
        In 24 hours, the space station makes 16 orbits of Earth, traveling through 16 sunrises and sunsets.<br><br>
        A partnership of five space agencies from 15 countries operates the ISS, which has been continuously occupied since November 2000.</p>
      </div>
    </section>
    <section>
      <div class = "primary">
        <p>A spacecraft can arrive at the space station <span class = "emphasis">as soon as four hours </span>after launching from Earth.<br><br>
        Eight spaceships can be connected to the space station at once. <br><br>
        The pieces of the station were delivered on 42 assembly flights: 37 on the U.S. space shuttles and five on Russian Proton/Soyuz rockets.</p>
      </div>
    </section> 
    <section>
      <div class = "secondary">
        <img src = "\images\issSchematic.png" alt = "Schematic view of the International Space Station">
      </div>
    </section>
    <section>
      <div class = "primary">
        <img src = "\images\spacewalk1.jpg" alt = "Photograph of an astronaut maintaining the exterior of the ISS">
      </div>
    </section>
    <section>
      <div class = "secondary">
        <p>Astronauts and cosmonauts regularly conduct spacewalks for space station construction, maintenance and upgrades.<br><br>
        To assist with these tasks, the ISS possesses a 55-foot robotic arm, 'Canadarm2' with seven different joints and two 'hands'.<br><br> 
        It can move move entire modules, deploy science experiments and even transport spacewalking astronauts.</p>
      </div>
    </section> 
    <section>
      <div class = "gridSpan">
        <h2><a href = "/page3">More International Space Station</a></h2>
      </div>
    </section>
  </div>
</article>