---
layout: layout.njk
---
<nav>
  <u>Navigation</u>
    <a href = "/">JWST</a><br>
    <a href = "/page2">ISS (i)</a><br>
    <span class = "activePage"><a href = "/page3">ISS (ii)</a></span><br>
    <a href = "/page4">SpaceX</a><br>
    <a href = "/page5">Starship (i)</a><br>
    <a href = "/page6">Starship (ii)</a><br>
    <a href = "/page7">Artemis (i)</a><br>
    <a href = "/page8">Artemis (ii)</a><br>
</nav>
<article>
  <header>
    <h2>International Space Station: Gallary</h2>
    <br>
  </header>
  <div class = "flexboxContainer">
    <div class = "flexGallary">
      <img src = "\images\spacewalk2.jpg" alt = "Photograph of an astronaut maintaining the exterior of the ISS">
      <img src = "\images\spacewalk4.jpg" alt = "Photograph of an astronaut moving a large international space station beam">      
      <img src = "\images\spacewalk3.jpg" alt = "Photograph of an astronaut with the ISS reflected in their visor">
      <img src = "\images\spacewalk5.jpg" alt = "Photograph of two astronauts maintaining the exterior of the ISS">
    </div>
  </div>
  <div class = "flexboxContainer">
    <div class = "flexGallary">
      <img src = "\images\issinterior1.jpg" alt = "Astronaut inside the ISS working at a laptop while strapped to the floor">
      <img src = "\images\issinterior3.jpg" alt = "Four astronauts wearing Christmas-themed clothes">
      <img src = "\images\issinterior2.jpg" alt = "Full crew of the ISS assembled for a web conference, floating in various positions">
    </div>
  </div>
  <br><br><br><br><br>
  <iframe width = "1134.86" height = "638.47" src = "https://www.youtube.com/embed/OQ7t0eBBlG8" 
  title = "NASA&#39;s SpaceX Crew-5: A Scientific Mission" frameborder = "0" 
  allow = "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
  </iframe>
</article>
