<footer class = "headerFooter">
  <p><span class = "headerspan">Spaceplace</span><br><br>The spaciest place</p>
  <img src = "/images/backgroundEarth.jpg" alt = "Starry night photograph" class = "headerFooterImage">
</footer>