<aside>
  <span class = "sidebar">
    <span class = "emphasis">Gallaries
    </span>
    <span class = link>
      <a href = "/page3">ISS<img src = "/images/issThumbnail.jpg" alt = "Waving astronaut on the ISS exterior"></a><br>
    </span>
    <span class = link>
      <a href ="/page6">Starship<img src = "/images/starshipThumbnail.jpg" alt = "Evening sillhoette of a rocket"></a>
    </span>
  </span>
</aside>